.sum-resources {
   padding: 1rem;

   .resources-table {
      display: grid;
      grid-template-columns: 15.62rem 1fr;
      height: calc(14.43rem - 4.43rem);
      border: 0.5px solid #DDDDDD;
      border-radius: 0.3125rem;

      @media (max-width: 425px) {
         grid-template-columns: 10rem 1fr;
      }

      & > .titles, & > .content {
         display: flex;
         align-items: center;
      }

      & > .titles {
         justify-content: center;
         max-width: 15.62rem;
         background-color: #F0F0F0;
      }

      & > .content {
         justify-content: flex-start;
         padding-left: 1.25rem;
      }

      .content + .titles, .titles + .content {
         border-top: 0.5px solid #DDDDDD;
      }
   }
}